<!-- SearchBox.razor -->
<input class="form-control" style="max-width: 600px" placeholder="Search…" @bind="_searchItem" />

<button class="btn btn-primary" style="max-width: 100px" @onclick="TriggerSearch" disabled="@string.IsNullOrWhiteSpace(_searchItem)">
    Search
</button>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string _searchItem;

    private async Task TriggerSearch()
    {
        if (OnSearch.HasDelegate && !string.IsNullOrWhiteSpace(_searchItem))
        {
            await OnSearch.InvokeAsync(_searchItem);
        }
    }
}