@inherits LayoutComponentBase

<div class="login-layout">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">MONEY MATE</a>
        </div>
    </div>

    <div class="main-content">
        @Body
    </div>
</div>