<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MONEY MATE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="transaction" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2 d-flex align-items-center" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="addtransaction">
                <span class="bi bi-plus-circle me-2 d-flex align-items-center" aria-hidden="true"></span> Add Transaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="adddebts">
                <span class="bi bi-cash-stack me-2 d-flex align-items-center" aria-hidden="true"></span> Add Debts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="pie-charts">
                <span class="bi bi-pie-chart me-2 d-flex align-items-center" aria-hidden="true"></span> Pie Charts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="alltransactions">
                <span class="bi bi-list-ul me-2 d-flex align-items-center" aria-hidden="true"></span> All Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="cashoutflow">
                <span class="bi bi-list-ul me-2 d-flex align-items-center" aria-hidden="true"></span> View Cash Outflow
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="cashinflow">
                <span class="bi bi-list-ul me-2 d-flex align-items-center" aria-hidden="true"></span> View Cash Inflow
            </NavLink>
        </div>

    </nav>
</div>
